@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #000;
}
img {
  max-width: 100%;
  height: auto;
}
section.hero {
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;

}
section.hero > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10vh 5vw;
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: #602c4eaf;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 500px;
    border: 2px solid rgb(25, 0, 28);
  }
  
  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.4em;
    color: #ffffff;
  }
  
  p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #ffffff;
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(25, 0, 28);
  }
  
  textarea#output {
    width: calc(100% - 20px);
    height: 40px;
    margin-bottom: 10px;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid rgb(25, 0, 28);
  }
  
  button {
    width: 40%;
    padding: 10px;
    margin-top: 30px;
    background-color: #ff995a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:30px;
    border: 2px solid rgb(60, 5, 5);
    transition: background-color 0.2s,box-shadow 0.2s;
  }
  
  button:hover {
    background-color: #ff1f80;
    box-shadow: 1px 1px 5px rgb(255, 154, 215),-1px -1px 5px rgb(255, 154, 215);
  }

  @media only screen and (min-width: 768px) {
    section.hero > div {
      margin: 20vh auto;
    }
  }